$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$firstColor: #26143c;
$secondColor: #eea715;
$hoverColor: #9a7730;
$therrColor: #FFF;
$backgroundColorOptionBox: #333;
$backgroundColorFooter: #10071b;
$backgroundColorOpacity: rgba(38, 20, 60, 0.7);
$backgroundColorOpacityT: rgba(238, 167, 21, 0.8);

/* Start color Our Amazing */
$primaryColor: #428bca;
$primaryBorderColor: #357ebd;
$borderPrimaryColor: #193d5c;
$hoverPrimaryColor: #3071a9;
$successColor: #5cb85c;
$successBorderColor: #4cae4c;
$hoverSuccessColor: #449d44;
$borderSuccessColor: #398439;
$infoColor: #46b8da;
$infoBorderColor: #46b8da;
$hoverInfoColor: #31b0d5;
$borderInfoColor: #269abc;
$dangerColor: #d9534f;
$dangerBorderColor: #d43f3a;
$hoverDangerColor: #c9302c;
$borderDangerColor: #ac2925;
$brownColor: #666;

/* End color Our Amazing */

/* Start change Colores */

$colorOne: #3498db;
$colorTwo: #e74c3c;
$colorThree: #16a085;
$colorFour: #8e44ad;

/* End change Colores */

$float-left: left;
$float-right: right;

$text-right: left;
$text-left: right;
